@charset "utf-8";
html {
	height: 88%;
	padding: 0;
	margin: 0;
}

body {
	height: 98%;
	padding: 0;
	margin: 0;
}

* {
	padding: 0;
	margin: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.top {
	height: 65px;
	color: #CB0003;
	background-color: #434343;
	background: -webkit-linear-gradient(#434343, #686868);
  	background: -moz-linear-gradient(#434343, #686868);
 	background: -o-linear-gradient(#434343, #686868);
  	background: -ms-linear-gradient(#434343, #686868);
  	background: linear-gradient(#434343, #686868);
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.logo {
	max-width: 200px;
}

#nome {
	color: #FFFFFF;
	font-size: 16px;
	position:absolute;
	top: 35px;
	right: 20px;
}

#txt {
	color: #FFFFFF;
	font-size: 11px;
	position:absolute;
	top: 6px;
	right: 20px;
}

#data_cavecalho {
	color: #FFFFFF;
	font-size:11px;
	position:absolute;
	top: 6px;
	right: 70px;
}
